.one {
    /*header part*/
    background-color: #352D2F;
    height: 17%;
    width: 100%;
    color: white;
}
#nav {
    text-decoration: none;
}
#two {
    background-color: white;
    height: 16%;
}
three {
    height: 17%;
    background-color: white;
}
#four {
    height: 10%;
    background-color: azure;
}
five {
    background-color: #352D2F;
    height: 8%;
}
#six {
    height: 9;
}
#seven {
    height: 10;
    background-color: #605A5C;
}
#eight {
    height: 10;
}
#nine {
    /*footer*/
    height: 3%;
    height: ;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
    float: left;
    margin: 0 3% 0 0;
}
.col1.last,
.col2.last,
.col3.last,
.col4.last,
.col5.last,
.col6.last,
.col7.last,
.col8.last,
.col9.last,
.col10.last,
.col11.last,
.col12 {
    margin: 0;
}
.col1 {
    width: 5.5%;
}
.col2 {
    width: 14%;
}
.col3 {
    width: 22.5%;
}
.col4 {
    width: 31%;
}
.col5 {
    width: 39.5%;
}
.col6 {
    width: 48%;
}
.col7 {
    width: 56.5%;
}
.col8 {
    width: 65%;
}
.col9 {
    width: 73.5%;
}
.col10 {
    width: 82%;
}
.col11 {
    width: 90.5%;
}
.col12 {
    width: 99%;
    margin: 0;
}
