#container{
    height:100%;
    width:60%;
    background-color: aqua;
    margin: auto;

}
#topper{color: white;
    background-color: #392F33;
}

#bottom{
    height:50%;
  background-color: #392F33;

}
#full{
    background-color: yellow;
    height:60%;
}

#half1{
    background-color:gainsboro;
    height:100%;
    float:left;
    width:50%;

}
#half2{
     background-color: red;
    height:100%;
    float:right;
    width:50%;

}
#row1{
   background-color: whitesmoke;
    height:60%;
    width:100%;
    float:right;

}

#row2{

   background-color:grey;
     height:%;
    width:33.3%;
    float:left;}

    #row2b{

   background-color:gainsboro;
     height:%;
    width:33.3%;
    float:left;
}#row2c{
  background-color:dimgray;
     height:%;
    width:33.3%;
    float:left

}
#row3{
    background-color: whitesmoke;
     height:20%;
    width:100%;
   clear:  both;

}
#three{

    background-color: crimson;
    height: 50%;
        width:100%;

}

#half4{
    height:100%;
    width:50%;
    background-color:white;
    float: left;
}

#half5{
    height:100%;
    width:50%;
    background-color:white;
    float: right;

}

#four{

    width:100%;
    height:30%;
    background-color: white;
    align-content: center;
}

#services{
    
    width:100%;
     height:25%;
    background-color: white;
}









#thirds1{
    width:33.3%;
    background-color: darkslategrey;
    height:100%;
    float:left
}
#thirds2{
    width:33.3%
        float:left;
    background-color: firebrick;
    height: 100%;
}

#thirds3{
    background-color: floralwhite;
    height:100%;
    width:33.3%;
    float: left;
    clear: both;
}

#1{
    width:33%;
    height:20%;
    background-color:blue;
    float:left;

}
#2{
    width:33%;
    height:20%;
    float:left;
        background-color: black;
}

#3{
    width:33%;
    height:20%;
    background-color: green;
    float:left;
    
}

#five{
    background-color: white;
    height:50%;
}

#six{
    width:100%;
    background-color: black;
    height:40%;
    text-align: center;
}
#seven{
    align-content: center;
    height:60%;
    background-color: white;
    
}

    
#nine{
    background-color: white;
    width:100%;
    height:40%;
    
}
    

}
#right{
   background-color: plum;
    height:100%;
    width: 50%;
    float:right; 
    
}

.button{
    background-color:white;
     
}
#button{
    background-color: deeppink;
    
    

}
#2180{
    
    
}
#explore{
    
    background-color: lightgrey;
    border-style: groove;
}

#testimonial{
    
    background-color: black;
    width: 100%;
    height:40%;
    
    align-content: center;
}
#logos{
    background-color: black;
    width: 100%;
    height:10%;
    
    align-content: center;
}
#final{
    background-color: coral;
    
    height:50%;
    width:100%;
        
        
    
}
#signup{
    width:50%;
    height: 100%;
    background-color: white;
 
    text-align: center;
    
    
}

#contactus{
    width:50%;
    height: 100%;
    background-color: grey;
    float: right;
    
    
    
    
    
}
